{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    <div id="dashbuttons">
        {% if currentUser.routeViewable("/schedule") %}
            <div class="dashicons">
                <a href="{{ urlFor("schedule.view") }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Schedule" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/layout") %}
            <div class="dashicons">
                <a href="{{ urlFor("layout.view") }}">
                    <i class="fa fa-object-group" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Layouts" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/library") %}
            <div class="dashicons">
                <a href="{{ urlFor("library.view") }}">
                    <i class="fa fa-open-o" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Library" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/template") %}
            <div class="dashicons">
                <a href="{{ urlFor("template.view") }}">
                    <i class="fa fa-object-group" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Templates" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/user") and (currentUser.isGroupAdmin() or currentUser.isSuperAdmin()) %}
            <div class="dashicons">
                <a href="{{ urlFor("user.view") }}">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Users" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/admin") %}
            <div class="dashicons">
                <a href="{{ urlFor("admin.view") }}">
                    <i class="fa fa-gear" aria-hidden="true"></i>
                    <span class="dash_text">{% trans "Settings" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/license") %}
            <div class="dashicons">
                <a href="{{ urlFor("license.view") }}">
                    <img src="{{ theme.uri("img/dashboard/license.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "About" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.routeViewable("/fault") %}
            <div class="dashicons">
                <a href="{{ urlFor("fault.view") }}">
                    <img src="{{ theme.uri("img/dashboard/help.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Report Fault" %}</span>
                </a>
            </div>
        {% endif %}

    </div>
{% endblock %}